body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    
}
.sidebar{
    height: 100vh;
    width: 250px;
    /* background-color: blue; */
    display: flex;
    gap:5px;
    flex-direction: column;
    margin: 5px;
}
.sidebar-up{
    background-color: #202020;
    height: 25%;
    border-radius: 15px;
}
.sidebar-up ul{
    display: flex;
    flex-direction: column;
    gap:20px;
    color: rgba(255, 255, 255, 0.852);
    margin: 8px -20px;
}
.sidebar-up li i{
    font-size: 25px;
}
.sidebar-up li{
    list-style: none;
    display: flex;
    gap:10px;
}
.sidebar-up li:nth-child(1){
    gap:0px;
    font-weight: bold;
}
.sidebar-up p{
    margin: 5px 0px;
}
.sidebar-up li h1{
    font-size:15px;
    margin:5px;
}
.sidebar-down{
    background-color: #202020;
    height: 75%;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap:10px;
    color: rgba(255, 255, 255, 0.852);
}
.your-library{
    display: flex;
    justify-content: space-between;
    padding: 10px 12px 0px 12px;
}
.create{
    /* overflow-y: scroll; */
    background-color: #404040;
    /* height: 40px; */
    border-radius: 5px;
    padding: 2px 0px 10px 15px;
}
.create button{
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: none;
}
.create-content{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap:0px;
    /* background-color: red; */
}
.create-content1{
    display: flex;
    gap:10px;
}
.create-content1 p{
    font-size: 11px;
    margin: 0;
    padding: 5px 0px;
}
.create-content1:nth-child(4) p{
    font-size: 14px;
}
.main-content{
    width: calc(100% - 280px);
    height: 100vh;
    /* background-color: green; */
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 5px;
}


.navbar-up{
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    background-color:#202020;
    width: 100%;
    border-radius: 15px;
    
}
.navbar-up .navbar{
        height:70px;
        background-color: #202020;
        position: sticky; 
        top:0%;
        display: flex;
        /* border-radius: 15px; */
        width: 100%;
        justify-content: space-between;
    }
.icons{
    /* background-color: blue; */
    display: flex;
    padding: 20px;
    gap:10px;
    color: rgba(255, 255, 255, 0.852);
    align-items: center;
}

.accounts{
    /* background-color: blueviolet; */
    display: flex;
    gap:25px;
    margin: 10px;
}
.sign-up{
   
    color: rgba(255, 255, 255, 0.852);
    font-size: 20px;
}
.accounts .login{
    height: 50px;
    background-color: white;
    width:100px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.artists-section{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(128, 128, 128, 0.172), #202020); 
    margin-bottom: 35px;
}

.content1{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.858);
}
.content1 h1{
    font-size: 25px;
}
.content1 p{
    padding: 10px 0px;
}
.content1 li{
    list-style: none;
}

.content2{
    display: flex;
    gap:20px;
    margin-top: -30px;
    padding:10px;
}

.artist{
    width:200px;
    height:230px;
    /* background-color: chartreuse; */
    /* border-radius: 50%; */
    color: white;
}
.artist img{
    border-radius: 50%;
    width:170px;
    height:170px;
    padding: 5px 0px 0px 5px;
}

.artist h2{
    margin: 0px 0px;
    font-size: 16px;
}
.artist p{
    margin: 7px 0px;
    font-size: 15px;
    color: gray;
}

.album-section{
    /* background-color:brown; */
    display: flex;
    flex-direction: column;
    /* height: 100px; */
    margin-bottom: 35px;
}
.album{
   
        width:200px;
        height:230px;
        /* background-color: chartreuse; */
        /* border-radius: 50%; */
    color:white;
}
.album img{
    width:160px;
    height:160px;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
}
.album h2{
    margin: 0px 7px;
    font-size: 16px;
}
.album p{
    margin: 7px 7px;
    font-size: 15px;
    color: gray;
}

.radio-section{
    margin-bottom: 35px;
}
.footer{
    display: flex;
    /* background-color: red; */
    padding: 30px;
    margin: 0;
    gap:60px;
    color: white;
}
.footer h2{
    margin-bottom: 5px;
    font-size: 20px;
}
.footer p{
    color:gray;
    padding: 0px 2px;
}
.footer .icon{
    display: flex;
    margin: 10px;
    gap:20px;
}
.insta{
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:40px;
    background-color:#404040 ;
}
.footer-divider {
    border: none;
    border-top: 1.5px solid gray; /* adjust the color and style as needed */
    margin: -20px 20px 0px 20px;
    /* background-color: red; */
    height: 10px;
}
.footer-last{
    padding: 0px 30px;
    color: gray;
}

.company{
    padding: 0;
    margin: 0;
}